<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>JokeRater - {% block title %}{% endblock %}</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}JokeRater.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static "ajax.js" %}"></script>

	<link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
	
	
	</head>
	{% load jokeRater %}
  
	<style>
		body{
			padding-top:0px;
			margin-top: 0px;
		}
		.panelStyling{
			border-width: 20px;
			border-color: #1975FF;
			min-height: 350px;
			max-height: 350px;
			margin-bottom: 0px;
		}
	</style>
	
  <body>
	<div class="container">
	
		<div class="row">
			<div class="col-md-12">
				<a href="{% url 'index' %}"><img src="{% static "images/banner.png" %}" class="img-responsive" alt="Banner" /></a>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

    
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						
							<form class="navbar-form navbar-nav role="search">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search">
								</div>
								<button type="submit" class="btn btn-default">Submit</button>
							</form>
							
							<ul class="nav navbar-nav">
								<li class="dropdown navSettings">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Compare <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										 {% block category_dropdown1 %}
											{% get_compare_list %}
										{% endblock %}
									</ul>
								</li>
								<li class="dropdown navSettings">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">View <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										{% block category_dropdown2 %}
											{% get_joke_list %}
										{% endblock %}
									</ul>
								</li>
							</ul>
							
							<ul class="nav navbar-nav navbar-right text20px">
								{% if user.is_authenticated %}
									<li><a href="{% url 'profile' %}">View Profile(Upload)</a></li>
									<li><a href="{% url 'auth_logout' %}?next=/JokeRater/">Log Out</a></li>
								{% else %}
									<li><a href="{% url 'auth_login' %}">Login</a></li>
									<li><a href="{% url 'registration_register' %}">Register</a></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</nav>
			</div>
		<div>
		
		<div class="row">
			<div class="col-md-9">
				{% block body_block %}{% endblock %}
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">Overall Top Rated Jokes</div>
					<div class="panel-body">
						{% block overall_list %}
							{% get_top_overall %}
						{% endblock %}
						<a class="btn btn-primary centreButton" href="{% url 'topOverall' %}" role="button">See More</a>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">Weekly Top Rated Jokes</div>
					<div class="panel-body">
						{% block overall_list1 %}
							{% get_top_weekly %}
						{% endblock %}
						<a class="btn btn-primary centreButton" href="{% url 'topWeekly' %}" role="button">See More</a>
					</div>
				</div>
			</div>
		</div>
	</div>     

    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>