{% extends 'JokeRater/base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}
								
	<div class="container">
		<div class="row">
			<div class="col-md-9 topMargin" >
				{% if report %}
					<div class="reportText">Successfully reported - joke will be reviewed</div>
				{% endif %}
				<h2> Choose your favourite: </h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 compareJoke">
				<div class="panel panel-primary panelStyling">
					<div class="panel-body">
						<p>
							{{ joke1.content }}
						</p>
						</br>
						<p>
							{{ joke1.punchline}}
						</p>
					</div>
				</div>
				<div class="container indexText">
					<div class="col-md-2">
						User: {{ joke1.postingUser }}
						</br>
						Rank: {{ joke1_position }}
					</div>
					<div class="col-md-2">
						Category: {{ joke1.category}}
					</div>
				</div>
			</div>
			<div class="col-md-4 compareJoke">
				<div class="panel panel-primary panelStyling">
					<div class="panel-body">
						<p>
							{{ joke2.content }}
						</p>
						</br>
						<p>
							{{ joke2.punchline}}
						</p>
					</div>
				</div>
				<div class="container indexText">
					<div class="col-md-2">
						User: {{ joke2.postingUser }}
						</br>
						Rank: {{ joke2_position }}
					</div>
					<div class="col-md-2">
						Category: {{ joke2.category}}
					</div>
				</div>
			</div>
	
		</div>
		<form id="form" method="post" action="{% url 'index' %}">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-4">
					<button type="submit" value="left" class="btn btn-primary chooseButtonLeft" name="select">Select</button>
					<button type="submit" value="reportLeft" class="btn btn-danger chooseButtonLeft" name="select">Report</button>
				</div>
				<div class="col-md-4">
					<button type="submit" value="right" class="btn btn-primary chooseButtonRight" name="select">Select</button>
					<button type="submit" value="reportRight" class="btn btn-danger chooseButtonRight" name="select">Report</button>
				</div>
			</div>
		</form>
	</div>

{% endblock %}