{% extends 'JokeRater/base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}
	<div class="container">
		<div class="row">
			<div class="col-md-4 compareJoke">
				<p>
					Why did the chicken cross the road?
				</p>
				</br>
				<p>
					To get to the other side
				</p>
			</div>
			<div class="col-md-4 compareJoke">
				<p>
					Why did the chicken cross the road?
				</p>
				</br>
				<p>
					To get to the other side
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<button type="button" class="btn btn-primary chooseButtonLeft">Select</button>
			</div>
			<div class="col-md-4">
				<button type="button" class="btn btn-primary chooseButtonRight">Select</button>
			</div>
		</div>
	</div>
{% endblock %}