{% extends 'JokeRater/base.html' %}

{% load staticfiles %}

{% block title %}User Profile{% endblock %}

{% block body_block %}
	<form id="joke_form" method="post" action="{% url 'register_profile' %}">		
		<h2 class="form-signin-heading">User Profile:</h2>
		</br>
		{% csrf_token %}

		{% for field in profile_form %}
			{{ field.errors }}
			{{ field.help_text }}
			{{ field }}
			</br>
			</br>
		{% endfor %}
		<button class="btn btn-primary"  type="submit" name="submit">Submit</button>		
	</form>
{% endblock %}