{% extends 'JokeRater/base.html' %}

{% block title %}Profile{% endblock %}

{% block body_block %}
<div class="container">
	<div class="row topMargin">
		<div class="col-md-3 ">
			<img height="200" class="img-rounded profilePicture" src="{{profile.picture.url}}" alt="Profile Picture" />
			<div class="usernameText">
				{{user.username}}
			</div>
		</div>
		<div class="col-md-4">
		
			<h2 class="form-signin-heading">Enter a joke:</h2>
			</br>
			<<form action="{% url 'profile' %}" method="post">
				<label for="comment">Content:</label>
				<textarea class="form-control" rows="4" id="content"></textarea>
				</br>
				<label for="comment">Punchline:</label>
				<textarea class="form-control" rows="3" id="punchline"></textarea>
			</div>
			<form id="joke_form" method="post" action="/JokeRater/profile/" enctype="multipart/form-data">
				{% csrf_token %}
				</br>
				<button class="btn btn-primary"  type="submit" name="submit">Submit</button>
			</form>
			
		</div>
	</div>
</div>
{% endblock %}