{% extends 'JokeRater/base.html' %}

{% block title %}Top Weekly{% endblock %}

{% block body_block %}
<div class="container">
	<div class="row topMargin">
		<div class="col-md-2"></div>
		<div class="col-md-6">
			<script>
				var i = 1;
			</script>

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title"><h1>Top Jokes Posted This Week</h1></h3>
				</div>
			</div>
			<ul class="list-group">
				{% for joke in weekly %}
					<li class="list-group-item lightBlueBackground">
						<div class="text20px"> 
							<script>
								document.write(i + ". ");
								i++;
							</script> 
								{{joke.content}}
								</br>
								<div class="punchlinePadding">{{joke.punchline}}</div>
							</div>
						<div class="topListUser"> User: {{joke.postingUser}}</div>
						<div class="topListUser"> Category: {{joke.category}}</div>
					</li>
				{% endfor %}
				</li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}