{% extends 'JokeRater/base.html' %}

{% block title %}Top Weekly{% endblock %}

{% block body_block %}
<div class="container">
	<div class="row topMargin">
		<div class="col-md-2"></div>
		<div class="col-md-6">
			<script>
				var i = 1;
			</script>

			<div class="panel panel-default">
				<div class="panel-heading">Top Jokes Posted This Week</div>
				<div class="panel-body">
					<ul class="list-group">
						{% for joke in weekly %}
							<li class="list-group-item">
								<div class="text20px"> 
									<script>
										document.write(i + ". ");
										i++;
									</script> 
										{{joke.content}}
										</br>
										<div class="punchlinePadding">{{joke.punchline}}</div>
									</div>
								<div class="topListUser"> User: {{joke.postingUser}}</div>
								<div class="topListUser"> Category: {{joke.category}}</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}